*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selected-image {
  position: relative;
  display: block;
  width: 50%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 100px;
}
.selected-image img {
  display: block;
  width: 100%;
  height: auto;
  cursor: crosshair;
  margin: 0 auto;
}
.result {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 0;
  padding: 10px 15px;
  display: block;
}
.result span {
  display: block;
  font-size: 13px;
}
.preview {
  position: absolute;
  top: 15px;
  right: 0px;
  display: block;
  margin: 0;
  padding: 0;
  background-color: rgba(234, 234, 234, 1);
  height: 135px;
  width: 135px;
  border-radius: 50%;
}
#cs {
  display: none;
}
